Django==1.11
apt-xapian-index==0.46
numpy==1.8.2
parsedatetime==1.2
pyasn1==0.1.7
pyasn1-modules==0.0.5
pysqlite==1.0.1
python-dateutil==1.5
python-debian==0.1.22
pytz==2017.2
requests==2.3.0
sessioninstaller==0.0.0
simplejson==3.5.3
software-center-aptd-plugins==0.0.0
system-service==0.1.6
uncompyle2==1.1
virtualenv==13.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.6.0
wsgiref==0.1.2
