Django==1.11
MySQL-python==1.2.5
Pillow==2.6.1
apt-xapian-index==0.46
argparse==1.2.1
debtagshw==0.1
numpy==1.8.2
parsedatetime==1.2
pexpect==3.2
pyOpenSSL==0.13.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
pycurl==7.19.5
pysqlite==1.0.1
python-apt==0.9.3.10ubuntu1
python-dateutil==1.5
python-debian==0.1.22
pytz==2017.2
requests==2.3.0
service-identity==1.0.0
sessioninstaller==0.0.0
simplejson==3.5.3
six==1.9.0
software-center-aptd-plugins==0.0.0
stevedore==1.5.0
system-service==0.1.6
terminal-velocity==0.1.8
uncompyle2==1.1
unity-lens-photos==1.0
urlgrabber==3.9.1
virtualenv==13.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.6.0
vobject==0.8.1c
wsgiref==0.1.2
yara-python==2.1
yum-metadata-parser==1.1.4
