<html>

	<head> <title> Submitting a problem </title> </head>

	<body>

		<h1> Submit a problem </h1>

		<form action= "{% url 'grading:submit' %}" method = "post" enctype="multipart/form-data" >
		
			{% csrf_token %} 

			Problem Name (all lower case)
			<select name="name">

				{% for name in problemList %}
					<option value="{{name}}"> {{name}} </option> 
				{% endfor %}

			</select>
	
			<input type="file" name="submission" id="sub" />

			<input type="submit" name="submit" value="submit" />

		</form>


	</body>

</html>
